@import '//fonts.googleapis.com/css?family=Dosis';

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
  margin: 0 auto;
  padding: 0;
  font: normal 100%/1.5 Dosis, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
}
a, a:visited, a:hover {
  color: #00afd1;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset label {
  display: block;
  float: right;
  width: 49%;
  font-size: 150%;
  line-height: 3;
  color: #fff;
}
fieldset input {
  float: left;
  margin: 0;
  padding: 0;
  width: 49%;
  font: inherit;
  font-size: 225%;
  line-height: 1.8;
  text-align: right;
  color: #fff;
  background: transparent;
  border: none;
}
fieldset input:focus {
  outline: 0;
  border: none;
}
  #weight {
    background: #f27934 url(weight.png) no-repeat 10px 50%;
    background-size: 50px;
  }
  #reps {
    background: #00afd1 url(reps.png) no-repeat 6px 50%;
    background-size: 60px;
  }
#maxes {
  padding: 15px 0;
}
.rm {
  float: left;
  padding-bottom: 10px;
  width: 33%;
  text-align: center;
}
  .rm:first-child {
    width: 100%;
  }
  .rm .weight,
  .rm .reps {
    display: block;
  }
  .rm .weight {
    font-size: 175%;
    line-height: 1;
  }
footer {
  clear: both;
  text-align: center;
}

@media only screen 
and (max-width : 320px) {
  fieldset label {
    width: 20%;
  }
  fieldset input {
    width: 79%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-device-width : 321px) {
  body {
    font-size: 60%;
  }
  #maxes {
    margin: 0 auto;
    width: 480px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  body {
    font-size: 150%;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  body {
    font-size: 200%;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  body {
    font-size: 150%;
    background: #333;
  }
  #app {
    margin: 0 auto;
    width: 640px;
    height: 100%;
    background-color: #fff;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}